#cloud-config
package_update: true
package_upgrade: true

packages:
  - docker.io
  - nginx
  - certbot
  - python3-certbot-nginx

runcmd:
  - systemctl enable --now docker
  - systemctl enable --now nginx
