name: Build and Deploy
on:
  push:
    branches: [master]
    paths:
      - "app/*" 
  pull_request:
    branches: [master]
    paths:
      - "app/*" 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out the code...
        uses: actions/checkout@v4